@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide the default scrollbar */
::-webkit-scrollbar {
  width: 0.6rem;
  background-color: transparent;
}

  /* Track   */
::-webkit-scrollbar-track {
  background-color: #1e1e1e;
}

  /* Handle   */
::-webkit-scrollbar-thumb {
  background-color: #eab208;
  border-radius: 0.3rem;
}

  /* Handle on hover   */
::-webkit-scrollbar-thumb:hover {
  background-color: #6b570f;
}